/.history
/.curseclient
/defaultconfigs
/lightspeed-cache
/logs
/minecraftinstance.json
/modernfix
/patchouli_books
/patchouli_data.json
/PCL
/rhino.local.properties
/saves
/schematics
/tlm_custom_pack
/usercache.json
/usernamecache.json
/XaeroWaypoints
/XaeroWorldMap
