/.history
/.vscode
/.curseclient
/crash-reports
/defaultconfigs
/immersive_paintings_cache
/lightspeed-cache
/logs
/minecraftinstance.json
/modernfix
/patchouli_books
/profileImage
/patchouli_data.json
/PCL
/rhino.local.properties
/saves
/schematics
/tlm_custom_pack
/usercache.json
/usernamecache.json
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap
/knownkeys.txt
/rocknroller
/ldlib
/multiblocked

config/roughlyenoughitems
config/worldedit
config/bocchud
config/yes_steve_model

resourcepacks/Deep Fried 1.18 Final.zip
resourcepacks/AtlanAbyss-Sounds Pack.zip
