/.history
/.curseclient
/crash-reports
/defaultconfigs
/immersive_paintings_cache
/lightspeed-cache
/logs
/minecraftinstance.json
/modernfix
/patchouli_books
/profileImage
/patchouli_data.json
/PCL
/rhino.local.properties
/saves
/schematics
/tlm_custom_pack
/usercache.json
/usernamecache.json
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap
/rocknroller
/ldlib
/multiblocked
/knownkeys.txt

config/roughlyenoughitems
config/worldedit
config/bocchud
